Q1 : Scrape the details of most viewed videos on YouTube from Wikipedia:
 Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
 You need to find following details:
 A) Rank
 B) Name
 C) Artist
 D) Upload date
 E) Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
import requests
from bs4 import BeautifulSoup
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(2)
driver.maximize_window()

In [5]:
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [6]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append("-")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [7]:
len(Rank),len(Name),len(Artist),len(Upload_date),len(Views)

(30, 30, 30, 30, 30)

In [8]:
df = pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload Date":Upload_date,"Views(Billions)":Views})

df.Name = df.Name.apply(lambda x:x[:-4].strip('"'))
df

,Rank,Name,Artist,Upload Date,Views(Billions)
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,Despacito,Luis Fonsi,"January 12, 2017",8.16
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.70
3,4.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,Shape of You,Ed Sheeran,"January 30, 2017",6.00
5,6.,See You Again,Wiz Khalifa,"April 6, 2015",5.89
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.30
7,8.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.92
9,10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.89
10,11.,Gangnam Style,Psy,"July 15, 2012",4.80
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.55
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.35
13,14.,Axel F,Crazy Frog,"June 16, 2009",3.91
14,15.,Sugar,Maroon 5,"January 14, 2015",3.87
15,16.,Roar,Katy Perry,"September 5, 2013",3.80
16,17.,Counting Stars,OneRepublic,"May 31, 2013",3.79
17,18.,Sorry,Justin Bieber,"October 22, 2015",3.66
18,19.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.60
20,21.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.59
21,22.,Dark Horse,Katy Perry,"February 20, 2014",3.52
22,23.,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.48
23,24.,Faded,Alan Walker,"December 3, 2015",3.45
24,25.,Perfect,Ed Sheeran,"November 9, 2017",3.45
25,26.,Let Her Go,Passenger,"July 25, 2012",3.44
26,27.,Girls Like You,Maroon 5,"May 31, 2018",3.42
27,28.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,Lean On,Major Lazer,"March 22, 2015",3.38
29,30.,Bailando,Enrique Iglesias,"April 11, 2014",3.38

In [9]:
driver.close()

2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [10]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [11]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [12]:
driver.get("https://www.bcci.tv/")
time.sleep(2)

In [13]:
International = driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
International.click()

In [14]:
Match_Title = []
Series = []
Stadium_Name = []
Place = []
Date = []
Time = []

In [15]:
try:
    for i in driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('_')
    
try:
    for i in driver.find_elements(By.XPATH,'//*[@class="match-card-bottom"]/div/span[1]'):
        Match_Title.append(i.text)
except NoSuchElementException:
    Match_Title.append('_')
    
try:
    for i in driver.find_elements(By.XPATH, '//div[@class="match-card-bottom"]/div/span[2]'):
        Stadium_Name.append(i.text)
except NoSuchElementException:
    Stadium_Name.append('_')
    
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-card-bottom"]/div/span[3]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append()
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('_')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
        Time.append(i.text.replace('\n',''))
except NoSuchElementException:
    Time.append('_')

In [16]:
len(Match_Title),len(Series),len(Stadium_Name),len(Place),len(Date),len(Time)

(8, 8, 8, 8, 8, 8)

In [17]:
df = pd.DataFrame({"Match Title":Match_Title,"Series":Series,"Stadium":Stadium_Name,"Place":Place,"Date":Date,"Time":Time})

In [18]:
df

,Match Title,Series,Stadium,Place,Date,Time
0,1st T20I -,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2023,"Shere Bangla National Stadium, Mirpur,",Dhaka,9 JUL 2023,1:00 PM IST
1,2nd T20I -,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2023,"Shere Bangla National Stadium, Mirpur,",Dhaka,11 JUL 2023,1:00 PM IST
2,1st Test -,INDIA TOUR OF WEST INDIES 2023,"Windsor Park,",Dominica,12 JUL 2023,7:30 PM IST
3,3rd T20I -,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2023,"Shere Bangla National Stadium, Mirpur,",Dhaka,13 JUL 2023,1:00 PM IST
4,1st ODI -,INDIA WOMEN TOUR OF BANGLADESH ODI SERIES 2023,"Shere Bangla National Stadium, Mirpur,",Dhaka,16 JUL 2023,8:30 AM IST
5,2nd ODI -,INDIA WOMEN TOUR OF BANGLADESH ODI SERIES 2023,"Shere Bangla National Stadium, Mirpur,",Dhaka,19 JUL 2023,8:30 AM IST
6,2nd Test -,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval,",Trinidad,20 JUL 2023,7:30 PM IST
7,3rd ODI -,INDIA WOMEN TOUR OF BANGLADESH ODI SERIES 2023,"Shere Bangla National Stadium, Mirpur,",Dhaka,22 JUL 2023,8:30 AM IST

In [19]:
driver.close()

3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [27]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [28]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [29]:
driver.get("https://www.statisticstimes.com/")
time.sleep(2)
driver.maximize_window()

In [30]:
driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button").click()

In [31]:
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

In [32]:
GDP = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(3)

In [33]:
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [34]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [35]:
df = pd.DataFrame({})
df['Rank'] = Rank
df['State'] = State
df['GSDP at current price (19-20)'] = GSDP1
df['GSDP at current price (18-19)'] = GSDP2
df['Share (18-19)'] = Share
df['GDP($ billion)'] = GDP_billion
df

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share (18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

In [36]:
driver.close()

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [55]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [56]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [57]:
driver.get("https://github.com/")
time.sleep(2)
driver.maximize_window()

In [58]:
driver.find_element(By.XPATH,'//div[@class="header-menu-wrapper d-flex flex-column flex-self-end flex-lg-row flex-justify-between flex-auto p-3 p-lg-0 rounded rounded-lg-0 mt-3 mt-lg-0"]/nav/ul/li[3]').click()

In [59]:
#trending
driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a').click()

In [60]:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

In [61]:
repository = driver.find_elements(By.XPATH,'//*[@class="h3 lh-condensed"]//a')
for i in repository:
    URLs.append(i.get_attribute("href"))

In [62]:
URLs

['https://github.com/CASIA-IVA-Lab/FastSAM',
 'https://github.com/sveltejs/svelte',
 'https://github.com/chat2db/Chat2DB',
 'https://github.com/Stability-AI/generative-models',
 'https://github.com/ggerganov/ggml',
 'https://github.com/Stability-AI/stablediffusion',
 'https://github.com/1Panel-dev/1Panel',
 'https://github.com/spacedriveapp/spacedrive',
 'https://github.com/sadmann7/skateshop',
 'https://github.com/github/docs',
 'https://github.com/ggerganov/llama.cpp',
 'https://github.com/ventoy/Ventoy',
 'https://github.com/ykdojo/kaguya',
 'https://github.com/sindresorhus/awesome',
 'https://github.com/a16z-infra/ai-getting-started',
 'https://github.com/papers-we-love/papers-we-love',
 'https://github.com/codecrafters-io/build-your-own-x',
 'https://github.com/binpash/try',
 'https://github.com/sb-ocr/diy-spacemouse',
 'https://github.com/embedchain/embedchain',
 'https://github.com/XingangPan/DragGAN',
 'https://github.com/SizheAn/PanoHead',
 'https://github.com/microsoft/AI-For-Beginners',
 'https://github.com/adrianhajdin/project_nextjs13_flexibble',
 'https://github.com/lensterxyz/lenster']

In [63]:
for i in URLs:
    driver.get(i)
    time.sleep(5)
    
    for i in driver.find_elements(By.XPATH,'//*[@class="flex-auto min-width-0 width-fit mr-3"]'):
        try:   
            repository_title.append(i.text)
        except NoSuchElementException:
            repository_title.append("_")
    
    for i in driver.find_elements(By.XPATH,'//*[@class="f4 my-3"]'):
        try:
            Description.append(i.text)
        except NoSuchElementException:
            Description.append("_")
    
     
    for i in driver.find_elements(By.XPATH,'//div[@class="BorderGrid-row"][4]/div/h2/a/span'):
        try:
            Contributors.append(i.text.replace('Contributors',''))
        except NoSuchElementException:
            Contributors.append("_")
    
        
    for i in driver.find_elements(By.XPATH,'//*[@class="color-fg-default text-bold mr-1"]'):
        try:
            Language.append(i.text)
        except NoSuchElementException:
            Language.append("_")

In [64]:
len(repository_title),len(Description),len(Contributors),len(Language)

(25, 24, 10, 86)

In [65]:
df = pd.DataFrame({"Title":repository_title[0:10],"Description":Description[0:10],"Contrubutors Count":Contributors[0:10],"Laguage":Language[0:10]})

In [66]:
df

,Title,Description,Contrubutors Count,Laguage
0,CASIA-IVA-Lab\n/\nFastSAM\nPublic,Fast Segment Anything,188k,Python
1,sveltejs\n/\nsvelte\nPublic,Cybernetically enhanced web apps,17,JavaScript
2,chat2db\n/\nChat2DB\nPublic,🔥 🔥 🔥 An intelligent and versatile general-pur...,5,Svelte
3,Stability-AI\n/\ngenerative-models\nPublic,Generative Models by Stability AI,224,Other
4,ggerganov\n/\nggml\nPublic,Tensor library for machine learning,4,Java
5,Stability-AI\n/\nstablediffusion\nPublic,High-Resolution Image Synthesis with Latent Di...,247,TypeScript
6,1Panel-dev\n/\n1Panel\nPublic,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,105,Less
7,spacedriveapp\n/\nspacedrive\nPublic,Spacedrive is an open source cross-platform fi...,5,JavaScript
8,sadmann7\n/\nskateshop\nPublic,An open source e-commerce skateshop build with...,2,HTML
9,github\n/\ndocs\nPublic,The open-source repo for docs.github.com,84,EJS

In [67]:
driver.close()

5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [68]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [69]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [70]:
driver.get("https:/www.billboard.com/")
time.sleep(2)
driver.maximize_window()

In [71]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [72]:
Song_Name = []
Artist_Name =[]
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [73]:
urls = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
page_url = urls.get_attribute("href")
driver.get(page_url)
time.sleep(4)

In [74]:
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//h3'):
        Song_Name.append(i.text)
except NoSuchElementException:
    Song_Name.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,'//*[@class="lrv-u-width-100p"]/ul/li[1]/span'):
        Artist_Name.append(i.text)
except NoSuchElementException:
    Artist_Name.append('_')
    
try:
    for i in driver.find_elements(By.XPATH,'//*[@class="lrv-u-width-100p"]/ul/li[4]/span'):
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('_')
    
try:
    for i in driver.find_elements(By.XPATH,'//*[@class="lrv-u-width-100p"]/ul/li[5]/span'):
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('_')
    
try:
    for i in driver.find_elements(By.XPATH,'//*[@class="lrv-u-width-100p"]/ul/li[6]/span'):
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append('_')

In [75]:
df = pd.DataFrame({})
df['Name'] = Song_Name
df['Artist'] = Artist_Name
df['Last Week Rank'] = Last_week_rank
df['Peak Rank'] = Peak_rank
df['Weeks on board'] = Weeks_on_board
df

,Name,Artist,Last Week Rank,Peak Rank,Weeks on board
0,Last Night,Morgan Wallen,1,1,20
1,Flowers,Miley Cyrus,2,1,22
2,Fast Car,Luke Combs,4,3,12
3,Calm Down,Rema & Selena Gomez,3,3,41
4,All My Life,Lil Durk Featuring J. Cole,5,2,5
...,...,...,...,...,...
95,Save Me,Jelly Roll With Lainey Wilson,86,86,2
96,Yandel 150,Yandel & Feid,-,71,17
97,Beso,Rosalia & Rauw Alejandro,94,52,12
98,I Wrote The Book,Morgan Wallen,-,18,19
99,Hummingbird,Metro Boomin & James Blake,90,90,2

In [76]:
driver.close()

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [77]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [78]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [79]:
driver.get("https://www.imdb.com/list/ls095964455/")
time.sleep(2)
driver.maximize_window()

In [80]:
Name = []
Year_span = []
Genre= []
Run_time = []
Ratings = []
Votes = []

In [81]:
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3//a'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3//span[2]'):
        Year_span.append(i.text)
except NoSuchElementException:
    Year_span.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]'):
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]'):
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append("_")

In [82]:
df = pd.DataFrame({})
df['Name'] = Name
df['Year span'] = Year_span
df['Genre'] = Genre
df['Run Time'] = Run_time
df['Ratings'] = Ratings
df['Votes'] = Votes
df

,Name,Year span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,173,365"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,251,256"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,032,352"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,523"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,694"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,949"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,989"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,517"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"43,394"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"260,122"

In [83]:
driver.close()

Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [84]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [85]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [86]:
driver.get("https://archive.ics.uci.edu/")
time.sleep(2)
driver.maximize_window()

In [87]:
driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a').click()

In [88]:
urls = []          
for i in range(1):      
    page_url = driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]//a')
    for i in page_url:
        urls.append(i.get_attribute("href"))
        next_btn = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        next_btn
        time.sleep(3)

In [89]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []

In [90]:
urls

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom']

In [91]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    try:
        dataset_name = driver.find_element(By.XPATH,'//*[@class="flex flex-col"]/div[1]/div[2]/div/h1')
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')

    try:
        dataset_type = driver.find_element(By.XPATH,'//*[@class="flex flex-col"]/div[2]/div[2]/div[1]/p')
        Data_type.append(dataset_type.text)
    except NoSuchElementException:
        Data_type.append('-')

    try:
        task = driver.find_element(By.XPATH,'//*[@class="flex flex-col"]/div[2]/div[2]/div[3]/p')
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')

    try:
        attribute_type = driver.find_element(By.XPATH,'//*[@class="flex flex-col"]/div[2]/div[2]/div[4]/p')
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')

    try:
        no_of_instances = driver.find_element(By.XPATH,'//*[@class="flex flex-col"]/div[2]/div[2]/div[5]/p')
        No_of_instances.append(no_of_instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')

    try:
        no_of_attribute = driver.find_element(By.XPATH,'//*[@class="flex flex-col"]/div[2]/div[2]/div[6]/p')
        No_of_attribute.append(no_of_attribute.text)
    except NoSuchElementException:
        No_of_attribute.append('-')

    try:
        year = driver.find_element(By.XPATH,'//*[@class="flex flex-col"]/div[1]/div[2]/h2')
        Year.append(year.text.replace('Donated on '," "))
    except NoSuchElementException:
        Year.append('-')

In [92]:
df = pd.DataFrame({})
df['Data Name'] = Dataset_name 
df['Data Type '] = Data_type
df['Task '] = Task 
df['Attribute Type '] = Attribute_type 
df['No of Instance '] = No_of_instances
df['No of Attributes '] = No_of_attribute
df['Year '] = Year 
df

,Data Name,Data Type,Task,Attribute Type,No of Instance,No of Attributes,Year
0,Iris,Multivariate,Classification,Real,150,4,6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,6/30/1988
2,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,9/13/2020
3,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,4/30/1996
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
5,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,10/5/2019
6,Wine,Multivariate,Classification,"Integer, Real",178,13,6/30/1991
7,Car Evaluation,Multivariate,Classification,Categorical,1728,6,5/31/1997
8,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,10/31/1995
9,Mushroom,Multivariate,Classification,Categorical,8124,22,4/26/1987

In [93]:
driver.close()

 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [94]:
driver = webdriver.Chrome(r"C:\Users\abhis\Downloads\chromedriver_win32\chromedriver.exe")

In [95]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [96]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")
time.sleep(2)
driver.maximize_window()

In [97]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys("Data Science")

In [98]:
search=driver.find_element(By.CLASS_NAME,"nI-gNb-sb__icon-wrapper")
search.click()

In [99]:
urls = []          
for i in range(1):      
    page_url = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for i in page_url:
        urls.append(i.get_attribute("href"))

In [100]:
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [101]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    try:
        name = driver.find_element(By.XPATH,'//*[@class="name-designation"]/div[1]')
        Name.append(name.text)
    except NoSuchElementException:
        Name.append('-')
        
    try:
        designation = driver.find_element(By.XPATH,'//*[@class="other-details"]/div[1]/span/a')
        Designation.append(designation.text)
    except NoSuchElementException:
        Designation.append('-')
        
    try:
        company = driver.find_element(By.XPATH,'//*[@class="jd-top-head"]/div[1]/a[1]')
        Company.append(company.text)
    except NoSuchElementException:
        Company.append('-')
        
    try:
        skills = driver.find_element(By.XPATH,'//*[@class="key-skill"]/div[3]')
        Skills.append(skills.text)
    except NoSuchElementException:
        Skills.append('-')
        
    try:
        location = driver.find_element(By.XPATH,'//*[@class="location "]')
        Location.append(location.text)
    except NoSuchElementException:
        Location.append('-')

In [102]:
len(Name),len(Designation),len(Company),len(Skills),len(Location)

(20, 20, 20, 20, 20)

In [103]:
df = pd.DataFrame({})
df['Name'] = Name
df['Designation'] = Designation
df['Company'] = Company
df['Skills'] = Skills
df['Location'] = Location
df

,Name,Designation,Company,Skills,Location
0,Suchitra Menon,Marketing Manager,Vishwa Vidyapeeth,Marketing Managementschool adminAdmin Executive,"Bangalore/Bengaluru( Varthur Road, Whitefield,..."
1,-,Head - HR,Smidee Talent Network,HR Generalist ActivitiesHuman Resource Management,Bangalore/Bengaluru( Jayanagar )
2,Rajesh Udyavara Shenoy,Head - HR,Kumudu Software Solutions,Performance Appraisal ManagementHR ProcessesSc...,"Bangalore/ Bengaluru,Karnataka( Banashankari, ..."
3,Usha Shetty,HR Generalist,Adecco Group,Payroll Management,Bangalore/Bengaluru( Jayanagar )
4,Surekha.H,HR Generalist,MicroGenesis Learning,Performance Management,"Bangalore/Bengaluru( 2nd Phase JP Nagar, Jayan..."
5,Swetha,Customer Retention - Voice / Blended,The Job Factory,Communication SkillsCustomer ServiceBpo Custom...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
6,Swetha,Customer Retention - Voice / Blended,The Job Factory,Communication SkillsCustomer ServiceBpo Custom...,"Bangalore/Bengaluru( HAL 3rd Stage, Ulsoor, Fr..."
7,-,Cloud System Administration,Kumar Organic Products,tcsion,"Bangalore/ Bengaluru,Karnataka( Jayanagar )"
8,-,Voice / Blended - Other,Randstad,Tele caller,"Bangalore/Bengaluru( 1st Stage Domlur, Domlur,..."
9,Suraj Sadhwani,Business Development Executive (BDE),Vedic Hr Solutions,AgencyLife InsuranceBfsi SalesInsuranceField S...,"Mysore/ Mysuru,Karnataka, Udupi,Karnataka, Ban..."
10,Shubha BG,Administration - Other,HR Consultant,Personal AssistanceReceptionist ActivitiesSecr...,"Bangalore/Bengaluru( Jayanagar, Banashankari )"
11,Suraj Sadhwani,Business Development Manager (BDM),Vedic Hr Solutions,Agency ChannelLife InsuranceSales And Marketin...,"Mangaluru/ Mangalore,Karnataka, Mysore/ Mysuru..."
12,Swetha,Customer Success Associate,The Job Factory,technical supportcustomer support,"Hyderabad/Secunderabad, Bangalore/Bengaluru( H..."
13,Swetha,Customer Retention - Voice / Blended,The Job Factory,technical supportcustomer support,"Bangalore/Bengaluru( Halasur, Cox Town, A K Go..."
14,Punit Kumar,Customer Success Associate,Shining Stars Institution & travels,customer servicecommunication skills,"Bangalore/Bengaluru( Garebhavipalya, Electroni..."
15,Swetha,Bilingual / Multilingual Support - Voice / Ble...,The Job Factory,customer support,"Bangalore/Bengaluru( HAL 3rd Stage, BTM Layout..."
16,Shaik Yasmeen Taj,Customer Success Associate,QSpiders,BPO,"Bangalore/Bengaluru( BTM Layout, Hebbal, Basav..."
17,-,-,-,-,-
18,-,-,-,-,-
19,Sarath,Manager Taxation,Delight HR,gstindirect taxation,Bangalore/Bengaluru( Jayanagar )

In [104]:
driver.close()